footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2% 3% 2% 3%;
}

footer img {
    width: 50%;
}

footer a {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    border: 0px solid rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.0);
    text-decoration: none;
}

footer a:focus {
    border: 0px solid rgba(0, 0, 0, 0.0);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

footer a:hover {
    border: 0px solid rgba(0, 0, 0, 0.0);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

footer div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 14px;
    line-height: 46px;
}

footer p:nth-of-type(2) {
    display: flex;
    align-self: center;
    flex-direction: column;
    max-width: 250px;
    line-height: 46px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 480px) {
    footer {
        align-items: start;
    }
    footer img {
        height: 100%;
    }
    footer div:nth-of-type(2) {
        text-align: left;
        margin-top: 0;
        padding-left: 20px;
    }
    footer p:nth-of-type(2) {
        max-width: 480px;
    }
    .footer-links {
        max-width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        flex-direction: row;
        align-items: center;
        padding: 10px 5% 10px 5%;
    }
    footer img {
        height: 100%;
    }
    footer a{
        height: 100%;
        padding: 0;
    }
    footer div:nth-of-type(2) {
        padding-left: 0;
        padding-right: 15px;
    }
    footer p {
        line-height: 15px;
        text-align: right;
    }
    .footer-links {
        max-width: 30%;
        padding: 0;
    }
}