<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up | Trackgenix</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <script src="../javascript/employee-signup.js"></script>
    </head>
    <body>
        <header>
            <img src="../assets/icons/trackgenix-logo.png" alt="Logo Trackgenix">
            <h1>Trackgenix SA</h1>
            <img src="../assets/icons/sidebar-button.png" alt="Sidebar Button">
        </header>
        <div>
            <aside>
                <div>
                    <p>Menu</p>
                    <ul>
                        <li><a href="./landing.html">Home</a></li>
                        <li><a href="./employee-signup.html">Sing Up</a></li>
                        <li><a href="./login.html">Login</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div>
                    <div>
                        <img src="../assets/icons/email-icon.png" alt="Mail Icon">
                        <img src="../assets/icons/phone-icon.png" alt="Phone Icon">
                        <img src="../assets/icons/home-icon.png" alt="Home Icon">
                    </div>
                    <ul>
                        <li>contact@trackgenix.com</li>
                        <li>(000)000-0000</li>
                        <li>
                            <span>1234 Somewhere Road</span><span>#8254</span><span>Nashville, TN</span>
                            <span>00000-0000</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <main>
                <div class="main-container">
                    <h2>Sign Up</h2>
                    <form>
                        <div>
                            <div>
                                <label for="only-name">First Name</label>
                                <input id="only-name" type="text" name="only-name" placeholder="John">
                                <span id="first-name-id"></span>
                            </div>
                            <div>
                                <label for="full-address">Address</label>
                                <input id="full-address" type="text" name="full-address" placeholder="Street 123">
                                <span id="full-address-id"></span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="only-last-name">Last Name</label>
                                <input id="only-last-name" type="text" name="only-last-name" placeholder="Smith">
                                <span id="last-name-id"></span>
                            </div>
                            <div>
                                <label for="city-live">City</label>
                                <input id="city-live" type="text" name="city-live" placeholder="New York">
                                <span id="city-id"></span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="id-number">ID Number</label>
                                <input id="id-number" type="text" name="id-number" placeholder="12345678">
                                <span id="id-id"></span>
                            </div>
                            <div>
                                <label for="postal-code">Postal Code</label>
                                <input id="postal-code" type="text" name="postal-code" placeholder="1234">
                                <span id="postal-code-id"></span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="birth-date">Birth Date</label>
                                <input id="birth-date" type="date" name="birth-date">
                                <span id="birth-date-id"></span>
                            </div>
                            <div>
                                <label for="email-login">Email</label>
                                <input id="email-login" type="email" name="email-login" placeholder="johnsmith@mail.com">
                                <span id="email-id"></span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="phone-number">Phone Number</label>
                                <input id="phone-number" type="text" name="phone-number" placeholder="555-5555">
                                <span id="phone-number-id"></span>
                            </div>
                            <div>
                                <label for="password-login">Password</label>
                                <input id="password-login" type="password" name="password-login" placeholder="Password">
                                <span id="password-1-id"></span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="repeat-password">Repeat Password</label>
                                <input id="repeat-password" type="password" name="repeat-password" placeholder="Password">
                                <span id="password-2-id"></span>
                            </div>
                        </div>
                        <div>
                            <button type="button">Create</button>
                        </div>
                    </form>
                </div>
                <div class="line-border-green"></div>
                <footer>
                    <div class="footer-links">
                        <a href="https://www.linkedin.com/">
                            <img src="../assets/icons/linkedin-logo.png" alt="Linkedin Logo">
                        </a>
                        <a href="https://twitter.com/">
                            <img src="../assets/icons/twitter-logo.png" alt="Twitter Logo">
                        </a>
                        <a href="https://www.facebook.com/">
                            <img src="../assets/icons/fb-logo.png" alt="Facebook Logo">
                        </a>
                        <a href="https://www.instagram.com/">
                            <img src="../assets/icons/instagram-logo.png" alt="Instagram Logo">
                        </a>
                        <a href="https://github.com/">
                            <img src="../assets/icons/github-logo.png" alt="Github Logo">
                        </a>
                    </div>
                    <div>
                        <p>Rosario, Argentina</p>
                        <p>Copyright © 2022 Radium Rocket. All rights reserved</p>
                    </div>
                </footer>
            </main>
        </div>
    </body>
</html>