<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | Trackgenix</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header>
            <img src="../assets/icons/trackgenix-logo.png" alt="Logo Trackgenix">
            <h1>Trackgenix SA</h1>
            <img src="../assets/icons/sidebar-button.png" alt="Sidebar Button">
        </header>
        <div>
            <aside>
                <div>
                    <p>Menu</p>
                    <ul>
                        <li><a href="./landing.html">Home</a></li>
                        <li><a href="./employee-signup.html">Sing Up</a></li>
                        <li><a href="./login.html">Login</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div>
                    <div>
                        <img src="../assets/icons/email-icon.png" alt="Mail Icon">
                        <img src="../assets/icons/phone-icon.png" alt="Phone Icon">
                        <img src="../assets/icons/home-icon.png" alt="Home Icon">
                    </div>
                    <ul>
                        <li>contact@trackgenix.com</li>
                        <li>(000)000-0000</li>
                        <li>
                            <span>1234 Somewhere Road</span><span>#8254</span><span>Nashville, TN</span>
                            <span>00000-0000</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <main>
                <div class="main-container">
                    <h2>Log In</h2>
                    <form>
                        <div>
                            <div>
                                <label for="email-login">Email</label>
                                <input id="email-login" type="email" name="email-login" placeholder="johnsmith@mail.com">
                            </div>
                            <div>
                                <button>Log In</button>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="password-login">Password</label>
                                <input id="password-login" type="password" name="password-login" placeholder="Password">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="line-border-green"></div>
                <footer>
                    <div class="footer-links">
                        <a href="https://www.linkedin.com/">
                            <img src="../assets/icons/linkedin-logo.png" alt="Linkedin Logo">
                        </a>
                        <a href="https://twitter.com/">
                            <img src="../assets/icons/twitter-logo.png" alt="Twitter Logo">
                        </a>
                        <a href="https://www.facebook.com/">
                            <img src="../assets/icons/fb-logo.png" alt="Facebook Logo">
                        </a>
                        <a href="https://www.instagram.com/">
                            <img src="../assets/icons/instagram-logo.png" alt="Instagram Logo">
                        </a>
                        <a href="https://github.com/">
                            <img src="../assets/icons/github-logo.png" alt="Github Logo">
                        </a>
                    </div>
                    <div>
                        <p>Rosario, Argentina</p>
                        <p>Copyright © 2022 Radium Rocket. All rights reserved</p>
                    </div>
                </footer>
            </main>
        </div>
    </body>
</html>