body {
    margin: 0;
    padding: 0;
    height: max-content;
    color: #373867;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

header {
    height: 77px;
    width: 100%;
    background-color: #373867;
}

aside {
    float: left;
    position: sticky;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 23px;
    top: 0;
    width: 158px;
    height: 900px;
    background-color: #aace9b;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

main {
    margin-left: 252px;
}

.first-section-main {
    height: 546px;
    width: 1256px;
}

.function-section-main {
    height: 650px;
    width: 1256px;
}

.function-section-main article {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 79px;
    margin-right: 62px;
    width: 37%;
}

.boxes-section-main {
    width: 1110px;
    height: 1544;
}

.boxes-section-main article {
    display: inline-block;
    vertical-align: top;
    margin-right: 79px;
    margin-bottom: 50px;
    width: 37.84%;
    height: 621px;
    background-color: rgba(55, 56, 103, 0.1);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-section-main {
    height: 642px;
    width: 1110px;
}

.story-section-main {
    height: 448px;
}

img {
    max-width: 100%;
    max-height: 100%;
    float: left;
}

a {
    text-decoration: none;
    color: #373867;
}

a:hover {
    color: #ff0000;
}

.line-border {
    background: color #f0f0f0;;
    width: 1110px;
    border-top: 3px solid rgba(55, 56, 103, 0.4);
    border-radius: 3px;
}

.radium-logo {
    position: absolute;
    left: 43px;
    top: 4px;
    float: left;
    height: 72.83px;
    width: 77.79px;
}

.track-h1 {
    position: absolute;
    left: 150px;
    top: 21.39px;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
}

.menu-side {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 9px;
    padding-right: 10.35px;
    border-bottom: solid 2px #373867;
}

.home-side {
    position: absolute;
    top: 71px;
    left: 13px;
    padding-bottom: 18px;
    padding-right: 125.72px;
    border-bottom: solid 1px rgba(55, 56, 103, 0.4);
}

.sign-up-side {
    position: absolute;
    top: 116px;
    left: 13px;
    padding-bottom: 17px;
    padding-right: 117.12px;
    border-bottom: solid 1px rgba(55, 56, 103, 0.4);
}

.login-side {
    position: absolute;
    top: 160px;
    left: 13px;
    padding-bottom: 17px;
    padding-right: 128.42px;
    border-bottom: solid 1px rgba(55, 56, 103, 0.4);
}

.contact-us-side {
    position: absolute;
    top: 204px;
    left: 13px;
}

.mail-icon {
    position: absolute;
    top: 237px;
    left: 14px;
    height: 15.09px;
    width: 18.78px;
}

.mail-contact-side {
    position: absolute;
    top: 238px;
    left: 37px;
}

.phone-icon {
    position: absolute;
    top: 288px;
    left: 13px;
    height: 17.5px;
    width: 17.52px;
}

.phone-side {
    position: absolute;
    top: 290px;
    left: 37px;
}

.home-icon {
    position: absolute;
    top: 341px;
    left: 14px;
    height: 18.34px;
    width: 16.7px;
}

.address-side {
    position: absolute;
    top: 336px;
    left: 37px;
    text-align: left;
    height: 56px;
    width: 134px;
}

.address-side span {
    display: block;
}

.first-section-main h2 {
    position: relative;
    top: 57px;
    width: 516px;
    font-size: 40px;
    font-weight: bold;
    line-height: 46.88px;
}

.first-text-main {
    position: relative;
    top: 76.16px;
    height: 46px;
    width: 516px;
    font-size: 20px;
    line-height: 23.44px;
}

.img-manage-teams {
    position: relative;
    height: 387px;
    width: 520.2px;
    top: -76px;
    left: 587px;
    border-radius: 10px;
}

.manage-p-main {
    position: relative;
    top: -268.7px;
    height: 90px;
    width: 516.53px;
    font-size: 15px;
    line-height: 17.58px;
}

.learn-more-button {
    position: absolute;
    left: 632px;
    top: 444px;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    border: 1px solid #373867;
    padding: 14px 29.73px;
    border-radius: 5px;
}

.function-section-main h2{
    font-size: 30px;
    font-weight: bold;
    width: 199px;
    line-height: 35.16px;
    margin-top: 57px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    padding-right: 29.79px;
    border-bottom: 3px solid #aace9b;
    border-radius: 3px;
}

.function-section-main img{
    height: 140px;
    width: 140px;
    padding-bottom: 50px;
    padding-right: 23px;
}

.function-section-main h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 35.16px;
    margin-bottom: 17px;
    width: 500px;
}

.function-section-main p {
    font-size: 20px;
    line-height: 23.44px;
}

.function-section-main h3 p {
    display: block;
}

.boxes-section-main h2{
    font-size: 30px;
    font-weight: bold;
    width: 671px;
    line-height: 35.16px;
    margin-top: 57px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    padding-right: 29.79px;
    border-bottom: 3px solid #aace9b;
    border-radius: 3px;
}

.boxes-section-main img {
    width: 400px;
    height: 264px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.boxes-section-main h3 {
    font-size: 30px;
    font-weight: bold;
}

.boxes-section-main p {
    width: 400px;
    font-size: 20px;
    margin-top: 20px;
}

.more-button {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    border: 1px solid #373867;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-section-main h2 {
    font-size: 30px;
    font-weight: bold;
    width: 671px;
    line-height: 35.16px;
    margin-top: 57px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    padding-right: 29.79px;
    border-bottom: 3px solid #aace9b;
    border-radius: 3px;
}

.story-section-main h2 {
    font-size: 30px;
    font-weight: bold;
    width: 125px;
    line-height: 35.16px;
    margin-top: 57px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-bottom: 3px solid #aace9b;
    border-radius: 3px;
}

.story-section-main p {
    font-size: 20px;
    line-height: 23px;
    width: 1100px;
    margin-bottom: 20px;
}