aside {
    position: sticky;
    width: 200px;
    height: max-content;
    top: 0;
    background-color: #aace9b;
    font-size: 12px;
}

@media only screen and (max-width: 899px) {
    aside {
        display: none;
    }
}